- content_for(:page_title, 'Privacy Policy')

.container
  #submission.row
    .span12
      .qa.copy
        %h2 Privacy Policy

        %p
          %br
          %strong Introduction
          %br Food Borne Chi values your online privacy and is committed to safe guarding the data you share with us and your online privacy. Our On-Line Privacy Policy applies to data collected at foodborne.smartchicagoapps.org domain.

        %p
          %br
          %strong Information we collect
          %br Food Borne Chi only collects information you share with the application regarding food poisoning reporting. We collect this data using a form located at http://foodborne.smartchicagoapps.org.
          
          %br We do not collect personal information without your permission. Any information that you volunteer or that we send to you in response is transferred using industry standard encryption technologies.

          %br Food Borne Chi collects your name and email address so that the City of Chicago may contact you regarding your report. Food Borne Chi also collects the name, location, date, and description of your food poisoning report.

          %br We do not use or set cookies on our website to store any information on your personal computer hard drive.
          
        %p
          %br
          %strong Data we share
          %br Food Borne Chi will share the necessary data you entered and store only what you provided required to submit your complaint with the City of Chicago and the 311 System. This data is not shared with anyone else. All other information is deleted from your cache memory when you close the session and leave our site. We collect no other personal information.

          %br Food Borne Chi does not sell or share your data with any 3rd parties.

        %p
          %br
          %strong Other Websites
          
          %br This site contains links to other sites. We are not responsible for the privacy practices or the content of all the sites listed.          

        %p
          %br
          %strong Contact
          %br We value your feedback. If you would like your data removed from the system, or have questions regarding the application, contact Dan O'Neil, Executive Director of the Smart Chicago Collaborative, at doneil@cct.org. We will never share your email address with anyone else.          
