.container
  .span12
    .well
      %h1 Thank you
      %p Your submission has been received. We will submit your information to the City's 311 system, so that health inspectors are made aware of the situation.
      %p [If an email address was given] You can expect to receive an email within the next hour, containing information to help you track the progress the 311 request.