@import "global";
@import "bootstrap";

/* General Styles */
body {
  font-family: $font-body;

  input, textarea {
    font-family: $font-body;
  }

  abbr[title],
  label { cursor: default; border: none; }
}

/* Header */
#header {
  padding: 40px 0 20px 0;
  border-top: 5px solid black;
  text-align: center;

  a {
    color: #333;
    &:hover { text-decoration: none; }

    &.logo {
      font-family: $font-header;
      font-weight: bold;
      text-transform: uppercase;
      color: #333;
      @include font-size(36, 36);
    }

    &.scc {
      color: #08C;
      
      img { width: 100px; }
    }
  }
}

.copy { 
  margin-bottom: 40px; 
  text-align: left;

  p { margin-bottom: 20px; }

  /* Questions and Answers */
  &.qa {
    strong { display: block; margin-bottom: 10px; }
    p {
      border-bottom: 1px dotted #ccc;
      padding-bottom: 20px;

      &:last-of-type { border: none; }
    }
  }

  /* About */
  &.about {
    ul li { margin-bottom: 10px; }
  }
}

/* Thanks */
body.thanks {
  .well {
    h1 { margin-bottom: 20px; }
    p { line-height: 1em; margin-bottom: 20px; }
  }
}