@import "global";
@import "bootstrap";

/* General Styles */
body {
  font-family: $font-body;

  input, textarea, button {
    font-family: $font-body;
    max-width: 95%;
  }

  button .icon-lock { margin-right: 5px; vertical-align: baseline; }

  abbr[title],
  label { cursor: default; border: none; }
}

.map_canvas {
  position: absolute;
  left: -999999px;
  width: 300px;
  height: 400px; 
  border: 1px solid #333;
  margin: 40px 0;
}

#nav {
  text-align: left;
  background: #333;
  margin-bottom: 40px;

  ul { 
    list-style: none; 
    margin: 0;

    li {
      float: left;

      a { 
        display: block;
        color: white;
        padding: 5px 20px;

        &:hover { background: #444; }
      }

      iframe {
        margin-top: 5px;
        margin-left: 20px;
      }
    }
  }
}

/* Header */
#header {
  padding: 0 0 20px 0;
  text-align: center;

  .subheader { 
    color: #666;
    @include font-size(18, 24);

    span {
      display: block;
      @include font-size(16, 20);
    }
  }

  .logo-wrap { margin-bottom: 0; }

  a {
    color: #333;
    &:hover { text-decoration: none; }

    &.logo {
      font-family: $font-header;
      font-weight: bold;
      text-transform: uppercase;
      color: #333;
      @include font-size(36, 36);
    }

    &.scc {
      color: #08C;
      
      img { width: 100px; }
    }
  }
}

.copy { 
  margin-bottom: 40px; 
  text-align: left;

  p { margin-bottom: 20px; }

  /* Questions and Answers */
  &.qa {
    strong { display: block; margin-bottom: 10px; }
    p {
      border-bottom: 1px dotted #ccc;
      padding-bottom: 20px;

      &:last-of-type { border: none; }
    }
  }

  /* About */
  &.about {
    ul li { margin-bottom: 10px; }
  }
}

/* Thanks */
body.thanks {
  .well {
    h1 { margin-bottom: 20px; }
    p { line-height: 1em; margin-bottom: 20px; }
  }
}

/* Alerts */
.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.alert,
.alert h4 {
  color: #c09853;
}
.alert h4 {
  margin: 0;
}
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert-success h4 {
  color: #468847;
}
.alert-danger,
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.alert-danger h4,
.alert-error h4 {
  color: #b94a48;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.alert-info h4 {
  color: #3a87ad;
}
.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}
.alert-block p + p {
  margin-top: 5px;
}

.press-links {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    h5, p { margin: 0; }
    h5 { font-size: 16px; }

    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #ccc;

    &:last-child {
      border: none;
    }
  }
}

.home {
  h3 {
    line-height: 1.2em;
  }

  .privacy {
    clear: both;
    margin: 20px 0;
  }
}